@import '~typeface-inter';

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Убирает внешний отступ */
}

.root {
    width: 1010px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .root {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

}
